<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Музыка</title>
  <link rel="stylesheet" href="../styles/main.css" />
</head>
<body>

  <header> 
        <div class="search-container">
                    <form action="#" method="GET" class="search-form">
                        <input 
                            type="text" 
                            class="search-input" 
                            placeholder="Введите запрос..."
                            autocomplete="off"
                        >
                        <button type="submit" class="search-button">
                            <span class="search-icon">🔍</span>
                        </button>
                    </form>
                </div>

      <div class="nav-menu">
        <a href="./index.html" class="nav-btn active">Главная</a>
        <a href="./login.html" class="nav-btn">Вход</a>
        <a href="./register.html" class="nav-btn">Регистрация</a>
      </div>
  </header>


  <main>
    
      </div>
    </div>

  </main>

  <footer>

  </footer>
</body>
</html>
