/* style.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #fff3cd, #ffe0b2, #f8d7da);
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 1.25rem;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #f1c40f;
  
  /* align-items: center; */
}

h2 {
  text-align: center;
  color: #e67e22;
  margin-bottom: 1.5rem;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 0.75rem;
  border: 1px solid #f1c40f;
  border-radius: 0.75rem;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: #e67e22;
  box-shadow: 0 0 0 2px rgba(230, 126, 34, 0.2);
}

button {
  padding: 0.75rem;
  background-color: #e67e22;
  color: white;
  border: none;
  border-radius: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #cf711f;
}

p {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

a {
  color: #e67e22;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-btn {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-btn:hover {
  background-color: rgba(255,255,255,0.2);
}

.nav-btn.active {
  background-color: rgba(255,255,255,0.3);
}

header {
  background-color: #e99434;
  color: white;

  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 15px 0;
  display: flex;
  text-align: center;
  margin-bottom: 2rem;
  
  justify-content: center;
  align-items: center;
}

.search-container {
            width: min(40%, 900px);
            padding: 10px;
            Text-align: center;
            flex-grow: 1;
            margin: 0 auto;
            z-index: 2;
        }

        .search-form {
            display: flex;
            gap: 10px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            border-radius: 30px;
            background: white;
            transition: all 0.3s ease;
        }

        .search-input {
            flex-grow: 1;
            padding: 15px 25px;
            border: none;
            border-radius: 30px;
            font-size: 16px;
            outline: none;
        }

        .search-input:focus {
            box-shadow: 0 0 5px #1890ff80;
        }

        .search-button {
            padding: 15px 25px;
            border: none;
            border-radius: 30px;
            background: #0077B6;
            color: white;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .search-button:hover {
            background: #90E0EF;
        }

        .search-icon {
            font-size: 18px;
        }